<?xml version="1.0"?>
<configuration scan="true">

    <property name="BASE_PATH" value="/logs/onlinehelp"/>

    <appender name="accessLogFileAppender"
              class="ch.qos.logback.core.FileAppender">
        <file>${BASE_PATH}/onlinehelp_access.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %X{RequestId} %-5level - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="uk.co.o2.onlinehelp.logger.AccessLogger" level="INFO">
        <appender-ref ref="accessLogFileAppender"/>
    </logger>

    <appender name="errorLogFileAppender"
              class="ch.qos.logback.core.FileAppender">
        <file>${BASE_PATH}/onlinehelp_error.log</file>
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %X{RequestId} %-2level - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="uk.co.o2.onlinehelp.logger.ErrorLogger" level="ERROR">
        <appender-ref ref="errorLogFileAppender"/>
    </logger>

    <appender name="opsLogFileAppender"
              class="ch.qos.logback.core.FileAppender">
        <file>${BASE_PATH}/onlinehelp_ops.log</file>
        <encoder>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} %X{RequestId} %-5level - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="uk.co.o2.onlinehelp.logger.OpsLogger" level="INFO">
        <appender-ref ref="opsLogFileAppender"/>
    </logger>

    <root level="off"/>

</configuration>
