<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" class="no-js" lang="en">

<head>
    #parse("head.vm")
</head>

<body>
<div class="module19Box" id="module19Box">

    <div class="grid">
        <div class="grid-row">
            <div class="default-content-container">
                #parse("serverError.vm")

                #parse("heading.vm")

                <!-- User Journey steps -->
                <div class="journeyWrapper">
                    <div class="stepCounter">
                        <span class="stepIcon"><img src="_asset/img/1-unselected.png"/></span>
                        <span class="lineBG"></span>
                        <span class="stepIcon"><img src="_asset/img/2-selected.png"/></span>
                        <span class="lineBG"></span>
                        <span class="stepIcon"><img src="_asset/img/3-unselected.png"/></span>
                    </div>
                    <div class="stepCopy">
                        <span class="stepDetail first">Your details</span>
                        <span class="stepDetail second active">Your security details</span>
                        <span class="stepDetail third">Additional information</span>
                    </div>
                </div>
                <!-- End - User Journey steps -->

                <h3>Forgotten your password?</h3>
                <div class="text">
                    <p>Fill in the details in the spaces below. You'll have to fill in any field
                        marked with a * to continue.</p>
                </div>

                <form method="POST" name="onlineForm" class="onlineForm" id="onlineForm"
                      action="$journey">

                    <div class="formFieldRow">
                        <label class="margin-bottom-10">Company name (if applicable)</label>
                        <input type="text" name="companyName" id="companyName" class="companyName"
                               maxlength="1500" value="$securityDetails.companyName"/>
                        <span class="errorMsg">Fill in to continue.</span>
                    </div>

                    <div class="formFieldRow">
                        <label class="margin-bottom-10">The first line of your address*</label>
                        <input type="text" name="address" id="address" class="address"
                               maxlength="1500" value="$securityDetails.address" required/>
                        <span class="errorMsg">Fill in to continue.</span>
                    </div>

                    <div class="formFieldRow">
                        <label class="margin-bottom-10">Your postcode*</label>
                        <input type="text" name="postcode" id="postcode" class="postcode"
                               maxlength="15" value="$securityDetails.postcode" required/>
                        <span class="errorMsg postcodeErrorMessage">Fill in to continue.</span>
                    </div>

                    <div class="formFieldRow posRel">
                        <label class="margin-bottom-10">The amount of your last bill*</label>
                        <strong class="poundSign">&pound; </strong><input type="text" name="billAmount"
                                                                          id="billAmount" class="billAmount"
                                                                          maxlength="15"
                                                                          value="$securityDetails.billAmount"
                                                                          required/>
                        <span class="errorMsg amountErrorMessage"> Fill in to continue.</span>
                    </div>

                    <div class="formFieldRow">
                        <label class="margin-bottom-10">The date of your last bill*</label>
                        <input type="text" name="billDate" id="datepicker" class="billDate"
                               maxlength="10" value="$securityDetails.billDate" required/>
                        <span class="errorMsg">Fill in to continue.</span>
                    </div>

                    <p>&nbsp;</p>
                    <input type="hidden" name="pageInfo" id="pageInfo" class="pageInfo"
                           value="forgetPass"/>
                    <input type="hidden" name="journey" id="journey" value="$journey"/>
					<input type="hidden" name="csrfToken" id="csrfToken" value="$csrfToken"/>	   
                    <div class="formFieldRow">
                        <input class="online-form-previous margin-bottom-10" type="button"
                               onclick="javascript: form.action='previous';"
                               alt="Previous"
                               value="Previous" title="Previous"/>
                        <input class="online-form-next margin-bottom-10" type="submit"
                               id="step-2-next" alt="Next" value="Next" title="Next"/>
                    </div>
                    <div class="formFieldRow">
                        <div class="ctaConfigurableIcon cancelButton"><span class="cancelIcon">
                            <a href="cancel">Cancel</a></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>